<launch>  
    <!-- New PointStamped publishers -->
    <!-- Point at the origin -->
    <node pkg="rostopic" type="rostopic" name="pointstamped_origin_pub" args="pub -r 500 /catheter_tip_proximal geometry_msgs/PointStamped '{header: {frame_id: mns}, point: {x: 0.0, y: 0.0, z: 0.0}}'" output="screen"/>
    <node pkg="rostopic" type="rostopic" name="pointstamped_100_pub" args="pub -r 500 /catheter_tip_distal geometry_msgs/PointStamped '{header: {frame_id: mns}, point: {x: 1.0, y: 50.0, z: 10.0}}'" output="screen"/>

    <node name="tcp_host" pkg="tcp_socket" type="bridge_node.py" output="screen">
        <param name="tcp_role" type="string" value="host"/>
    </node>

</launch>