    

<launch>  
    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type='rviz' args="-d $(find nav_rviz)/rviz/config_navion.rviz" output="screen" />
    <include file="$(find nav_rviz)/launch/navion_urdf_model.launch"/>      

    <!-- Camera parameters -->
    <arg name="cam_width" default="1920" />
    <arg name="cam_height" default="1200" />
    <arg name="cam_model" default="acA1920-48gc" />
    <arg name="camera_frame" default="camera" /> 

    <!-- Magnetic field marker grid -->
    <node pkg="tsc_utils" type="poses_custom_grid_node.py" name="forward_model_list_pub" respawn="true">
        <param name="~frame_id" type="string" value="mns" />
        <param name="~nx" type="int" value="10" />
        <param name="~ny" type="int" value="7" />
        <param name="~nz" type="int" value="3" />
        <param name="~spacing" type="double" value="0.02" />
        <remap from="~/poses" to="/forward_model/poses"/>
    </node> 

    <!-- Remappings  -->
    <remap from="/inc_mapping/mag_field_target" to="/backward_model/field" />
    <remap from="/inc_mapping/mca_vel_target" to="/navion/target_velocity_mca" />

    <!-- Launch INC controller  -->
    <include file="$(find inc_driver)/launch/inc_driver.launch" />

    <!-- Arguments -->
    <arg name="host" value="129.132.53.194" /> 
    <!-- <arg name="host" value="157.143.47.152" /> -->
    <arg name="tcp_role" value="client" />

    <!-- TCP sockets -->
    <node name="mag_field_socket" pkg="tcp_socket" type="tcp_socket.py" output="screen">
        <param name="host" type="string" value="$(arg host)" />
        <param name="port" type="int" value="3000" />
        <param name="topic_name" type="string" value="/backward_model/field" />
        <param name="message_type" type="string" value="mag_msgs/FieldStamped" />
        <param name="tcp_role" type="string" value="$(arg tcp_role)" />
        <param name="ros_role" type="string" value="subscriber" />
    </node>

    <node name="mca_vel_socket" pkg="tcp_socket" type="tcp_socket.py" output="screen">
        <param name="host" type="string" value="$(arg host)" />
        <param name="port" type="int" value="3001" />
        <param name="topic_name" type="string" value="/navion/target_velocity_mca" />
        <param name="message_type" type="string" value="std_msgs/Float32" />
        <param name="tcp_role" type="string" value="$(arg tcp_role)" />
        <param name="ros_role" type="string" value="subscriber" />
    </node>

    <node name="actual_field_socket" pkg="tcp_socket" type="tcp_socket.py" output="screen">
        <param name="host" type="string" value="$(arg host)" />
        <param name="port" type="int" value="3002" />
        <param name="topic_name" type="string" value="/navion/actual_field" />
        <param name="message_type" type="string" value="mag_msgs/FieldArrayStamped" />
        <param name="tcp_role" type="string" value="$(arg tcp_role)" />
        <param name="ros_role" type="string" value="publisher" />
    </node>

    <!-- <Camera disappeared let> -->
    <node name="basler_camera_socket" pkg="tcp_socket" type="tcp_socket.py" output="screen">
        <param name="host" type="string" value="$(arg host)" />
        <param name="port" type="int" value="3003" />
        <param name="topic_name" type="string" value="/basler_camera/image_raw/compressed" />
        <param name="message_type" type="string" value="sensor_msgs/CompressedImage" />
        <param name="tcp_role" type="string" value="$(arg tcp_role)" />
        <param name="ros_role" type="string" value="publisher" />
    </node>

    <node name="system_report_socket" pkg="tcp_socket" type="tcp_socket.py" output="screen">
        <param name="host" type="string" value="$(arg host)" />
        <param name="port" type="int" value="3004" />
        <param name="topic_name" type="string" value="/navion/system_report" />
        <param name="message_type" type="string" value="nav_controller/systemreport" />
        <param name="tcp_role" type="string" value="$(arg tcp_role)" />
        <param name="ros_role" type="string" value="publisher" />
    </node>

</launch>