<launch>   
   <node pkg="rostopic" type="rostopic" name="float_server" args="pub -r 500 /float_server std_msgs/Float32 1.0" output="screen"/>
   <node pkg="rostopic" type="rostopic" name="string_server" args="pub -r 500 /string_server std_msgs/String server_string" output="screen"/>

   <include file="$(find rosurgical)/launch/start_rosurgical_socket.launch">
      <arg name="tcp_role" value="server" />

      <!-- This is an example file that works the topics published above -->
      <arg name="topics_yaml" default="$(find rosurgical)/config/socket_topics.yaml" />

      <!-- These are only example keys and certs. It is recommended to create new certified ones. -->
      <arg name="cert_path" value="$(find rosurgical)/certs/server_cert.pem" />  
      <arg name="key_path" value="$(find rosurgical)/certs/server_key.pem" />
      <arg name="cert_verify_path" value="$(find rosurgical)/certs/client_cert.pem" />
   </include>
</launch>   